@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color: #0d1117;
    color: #e6edf3;
}

/* NAVBAR */
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #010409;
    font-size: 1rem;
    font-weight: 600;
    height: auto;
    gap: 1rem;
}
/* NAVBAR TOP */
.navbar-t{
    display: flex;
    justify-content: space-between;
}
.navbar-t .navbar-l{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar-t .navbar-l p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    color: #010409;
    background-color: #e6edf3;
    border-radius: 50%;
}
.navbar-t .navbar-r{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar-t .navbar-r input{
    width: 20rem;
    background-color: transparent;
    border: 1px solid rgba(240, 246, 252, 0.1);
    padding: .3rem 1rem;
    border-radius: .3rem;
    color: #e6edf3;
}
.navbar-t .navbar-r i{
    border: 1px solid rgba(240, 246, 252, 0.1);
    padding: .3rem;
    border-radius: .3rem;
    color: #e6edf3;
    cursor: pointer;
}
.navbar-t .navbar-r img{
    border-radius: 50%;
    width: 2rem;
    cursor: pointer;
}
/* NAVBAR BOTTOM */
.navbar-b ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}  
.navbar-b ul li{
    list-style: none;
    position: relative;
}   
.navbar-b ul li a{
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
    color: #e6edf3;
    padding: .5rem;
    border-radius: .3rem;
}
.navbar-b ul li a:hover{
    background-color: rgba(177, 186, 196, .12);
}
.navbar-b ul li a i{
    margin-right: .5rem;
}


main{
    display: flex;
    padding: 2rem 5rem;
}


/* SIDEBAR */
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 25%;
}
.sidebar .profile{
    border-radius: 50%;
}
.sidebar h2{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 0 0;
}
.sidebar h3{
    color: #7d8590;
    font-size: 1.1rem;
    font-weight: 100;
    margin: 0;
}


/* INTRO */ 
.sidebar .intro{
    font-size: .8rem;
    text-align: justify;
}
.sidebar .intro span{
    color: #e6edf3;
}
.sidebar .resume{
    text-decoration: none;
    color: #e6edf3;
    text-align: center;
    background-color: #21262d;
    padding: .5rem 0;
    margin: .3rem 0;
    font-size: .8rem;
    font-weight: 600;
    border-radius: .3rem;
    border: 1px solid rgba(240, 246, 252, 0.1);
}
.sidebar .resume:hover{
    transition: .1s ease-in-out;
    border: 1px solid rgba(240, 246, 252, 0.5);
    background-color: rgba(240, 246, 252, 0.2);
}
.sidebar p{
    color: #7d8590;
    margin: 1rem 0;
}
.sidebar .socials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sidebar .socials a{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: #7d8590;
    font-size: .8rem;
}
.sidebar .socials a:hover{
    text-decoration: underline;
}
.sidebar .socials img{
    width: 7%;
    filter: grayscale(100%);
}
.sidebar .tools{
    display: flex;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
}
.sidebar .tools img{
    width: 10%;
}


/* CONTENT */
.content{
    width: 75%;
    padding-left: 2rem;
}


/* HEADERS */
.content h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}


/* PROJECTS */
.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}
.projects .project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding: 1rem;
    font-size: .8rem;
    border-radius: .2rem;
    border: 1px solid rgba(240, 246, 252, 0.1);
}
.projects .project a{
    text-decoration: none;
    color: #2f81f7;
}
.projects .project a:hover{
    text-decoration: underline;
}
.projects .project p{
    margin-top: .5rem;
}


/* FIGMA */
.figma{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}
.figma .figma-work{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 1rem;
    font-size: .8rem;
    border-radius: .2rem;
    border: 1px solid rgba(240, 246, 252, 0.1);
}
.figma .figma-work a{
    text-decoration: none;
    color: #2f81f7;
}
.figma .figma-work a:hover{
    text-decoration: underline;
}
.figma .figma-work p{
    margin-top: .5rem;
}


/* INTERNSHIP EXPERIENCES */
.internships {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
    padding: 5rem 0 0;
}
.internship {
	width: 70%;
	height: auto;
	margin: auto 0;
	position: relative;
}
.internship ul {
	list-style: none;
}
.internship ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-color: #21262d;
}
.internship ul li {
	width: 50%;
	height: auto;
	padding: 1rem;
	background-color: #21262d;
	border-radius: .5rem;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
	position: relative;
	margin-bottom: 2rem;
	z-index: 99;
}
.internship ul li:nth-child(4) {
	margin-bottom: 0;
}
.internship ul li .circle {
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background-color: #e6edf3;
	top: 0;
	display: grid;
	place-items: center;
}
.circle::after{
	content: ' ';
	width: .8rem;
	height: .8rem;
	background-color: #e6edf3;
	border-radius: 50%;
}
ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -1.8rem;
}
ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -2rem;
}
ul li .date {
	position: absolute;
	width: 10rem;
	height: 2rem;
    background-color: #21262d;
	border-radius: 1rem;
	top: -45px;
	display: grid;
	place-items: center;
	color: #e6edf3;
	font-size: .8rem;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.internship ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: left;
	transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
	right: 1.2rem;
}
.internship ul li:nth-child(even) {
	float: right;
	clear: left;
	transform: translateX(30px);
}
ul li .heading {
	font-size: 1rem;
    margin: 0;
	color: #e6edf3;
}
ul li p strong {
	font-size: .9rem;
}
ul li p {
	font-size: .8rem;
	color: #7d8590;
	line-height: 18px;
    margin: .3rem 0;
}


/* MEDIA QUERY */
@media (max-width: 1024px){
    .navbar-t .navbar-r input{
        width: 15rem;
    }
    main{
        padding: 2rem;
    }
    .sidebar .intro{
        font-size: .6rem;
    }
    .sidebar .socials{
        gap: .5rem;
    }
    .sidebar .socials a{
        font-size: .5rem;
    }
    .projects .project p{
        font-size: .7rem;
    }
    .figma .figma-work p{
        font-size: .7rem;
    }
    .internships{
        padding-top: 4rem;
    }
    ul li .heading{
        font-size: .8rem;
    }
    ul li p strong{
        font-size: .7rem;
    }
    ul li p{
        font-size: .6rem;
    }
}

@media (max-width: 768px){
    main{
        padding: 1rem;
    }
    .navbar .navbar-t .navbar-r{
        display: none;
    }
    .navbar-t{
        display: flex;
        justify-content: center;
    }
    .navbar-b{
        display: flex;
        justify-content: center;
    }
    .sidebar{
        width: 50%;
    }
    .sidebar h2{
        font-size: 1.2rem;
    }
    .sidebar .intro{
        font-size: .7rem;
    }
    .sidebar .socials{
        gap: 1rem;
    }
    .sidebar .socials a{
        font-size: .7rem;
    }
    .content{
        width: 50%;
    }
    .projects{
        display: flex;
        flex-direction: column;
    }
    .figma{
        display: flex;
        flex-direction: column;
    }
    .internships{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }
    .internship {
        width: 100%;
    }
    .internship ul li{
        width: 100%;
        margin-bottom: 1rem;
    }
    .internship ul::after,
    .circle::after,
    ul li:nth-child(even) .circle,
    ul li:nth-child(odd) .circle,
    ul li .circle {
        display: none;
    }
    ul li .date{
        position: static;
        background-color: #7d8590;
        height: 1rem;
        font-size: .6rem;
        color: #0d1117;
        width: auto;
    }
    .internship ul li:nth-child(even){
        float: left;
        transform: none;
        clear: right;
    }
    .internship ul li:nth-child(odd){
        transform: none;
    }
}

@media (max-width: 480px){
    main{
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
    }
    .sidebar .profile{
        width: 50%;
        margin: 0 auto;
    }
    .sidebar h2{
        font-size: 1.4rem;
    }
    .sidebar .tools{
        justify-content: space-around;
    }
    .content{
        width: 100%;
        padding: 1rem;
    }

}